@charset "UTF-8";


#overview .overview-bg{
  background-image:url(https://seongchan-portfolio-2024.s3.ap-northeast-2.amazonaws.com/project/todayTour/overview_bg.jpg);
}



#details .section-header{
  padding:0 var(--inner-pd);
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{display:none;}

.swiper-button-prev{transform:rotate(180deg);}